/*
$Id: eucap.css 538 2007-07-24 00:19:51Z hamilton $
*/
body {
    font-size: 0.8em; 
    font-family: Verdana, Arial, sans-serif;
}
h1 {
    color:#6B3608;
    font-size:1.4em;
}
h2 {
    color:#6B3608;
    font-size:1.2em;
}
h3{
    font-size:1.1em;
}
.big_bold{
    font-weight:bold;
    font-size:1em;
}

.big {
    font-size:1.2em;
}
.small{
    font-size:0.6em;
}
.bold {
    font-weight:bold;
}
.panel_background {
    background-color:#F4FFE3;
    padding:1em;
    width:40em;
}
.data {
    border:1px solid lightgray;
}
table.data th, table.data td {
    border:1px solid lightgray;
}
.large_margin {
    margin-top:10px;margin-bottom:10px
}
