.panel_background {
    background-color: #f5f5f5 !important;
    padding: 1em;
}
.large_margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
.hide_panel {
    display: none;
}
.show_panel {
    display: block;
}

.error {
    color: red;
}
.success {
    color: green;
}

input.error, textarea.error {
    border: 1px solid #c00;
}
p.section {
    font-family: Arial;
    margin: 10px 0px 8px 5px;
    font-size: 2.5em;
    color: #AAAAAA;
}

/* css for depicting an edited row */
tr.tableRowEdit {
    background-color: #AD9898;
    padding: 2px;
}
tr.tableRowEdit td {
    margin: 0;
    padding: 6px 8px 0;
    vertical-align: top;
}
#middle_content tr.tableRowEdit td p.bodytext {
    margin-bottom: 6px;
    padding: 0;
}
td.tableRowEdit {
    background-color: #AD9898;
}

label{
    float: left;
    font-weight: bold;
    width: 100px;
    text-align: right;
    padding-right: 0.5em
}

.transparent {
   filter:alpha(opacity=60);
   -moz-opacity: 0.6;
   opacity: 0.6;
}

/* override jquery UI (smoothness) */
.ui-widget-content {
    border: 1px solid #aaaaaa;
	background: #f5f5f5 url(../images/ui-bg_flat_75_f5f5f5_40x100.png) 50% 50% repeat-x;
	color: #222222;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
	background: #e6e6e6 url(../images/ui-bg_diagonals-thick_65_e6e6e6_40x40.png) 50% 50% repeat;
	font-weight: normal;
	color: #212121;
}
/* end override */
