<div class="large_margin">
 <p><input type="button" name="hide_panel" value="Hide Add Gene Family Panel" onclick="hide_panel(this, 'Gene Family')"></p>
</div>
<div class="panel_background large_margin" style="display:block;" id="add_panel">
<p class="header2">Add gene family members</p>
<form name="annotate" action="/cgi-bin/medicago/eucap2/eucap.pl" method="post">
<input type="hidden" name="action" value="" id="action">
<input type="hidden" name="locus" value="" id="locus">
<p class="header3">Please input locus identifiers:</p>

<table>
<tbody>
  <tr>
    <td rowspan="2"><p>
      <textarea cols="14" rows="5" name="locus_list"
      id="locus_list"></textarea>
    </p></td>
    <td><p>
      <input type="submit" value="Add Loci" onclick="set_action(this)">
	</p></td>
  </tr>
  <tr>
    <td><p>
      <input type="button" value="Reset" onclick="clear_textarea('locus_list')">
    </p></td>
  </tr>
</tbody>
</table>
<p class="header3">Alternatively, please input protein OR nucleotide sequences
(in FASTA format) or locus identifiers to identify Medicago homologs:</p>
<p>Input sequence: <select name="seqtype">
    <option selected="selected" value="protein">Protein</option>
    <option value="dna">Nucleotide</option>
    </select>
  E value: <select name="evalue">
    <option value="1e-50">1e-50</option>
    <option selected="selected" value="1e-20">1e-20</option>
    <option value="1e-10">1e-10</option>
    <option value="1e-5">1e-5</option>
    </select>
  </p>
<textarea cols="60" rows="5" id="fasta" name="fasta"></textarea>
<br /><br />
<p><input type="submit" value="Find Homologs" onclick="set_action(this)">&nbsp;
<input type="button" value="Reset" onclick="clear_textarea('fasta')"></p>

</div>

<hr />

<div id="blast_results">
  <TMPL_IF NAME="blast_results">
    <p><TMPL_VAR NAME="total_hits"> hits for query: <TMPL_VAR NAME="query_name"> </p>
    <table class="contenttable">
	  <thead>
		<tr class="tableHeader">
		  <td><p>Add</p></td>
		  <td><p>Locus Hit</p></td>
		  <td><p>Length</p></td>
		  <td><p>Score</p></td>
		  <td><p>E-value</p></td>
		  <td><p>Description</p></td>
		</tr>
	  </thead>
	  <tbody>
      <TMPL_LOOP NAME="blast_loop">
        <tr class="tableRowEven">
          <td><p><input type="checkbox" name="add" value="<TMPL_VAR NAME="locus">"></p></td>
          <td><p><TMPL_VAR NAME="locus"></p></td><p>
          <td><p><TMPL_VAR NAME="length"></p></td><p>
          <td><p><TMPL_VAR NAME="score"></p></td><p>
          <td><p><TMPL_VAR NAME="e_value"></p></td><p>
          <td><p><TMPL_VAR NAME="description"></p></td><p>
        </tr>
        </TMPL_LOOP>
	  </tbody>
    </table>
    <table border="0" cellspacing="0" cellpadding="5px" class="large_margin">
      <tr>
      <td><input type="button" name="add_loci_button" value="Add Selected Loci" onclick="add_blast_loci()"> </td>
        <td><input type="button" name="select_all_hits" value="Select All Blast Hits" onclick="set_checkbox(this)"></td>
        <td><input type="button" name="clear_all_hits" value="Clear Selected Blast Hits" onclick="set_checkbox(this)"></td>
        <td><input type="button" name="remove_blast_results" value="Remove Blast Results Panel" onclick="remove_blast_div()"></td>
    </table>
	<hr />
  </TMPL_IF>
</div>

<table border="0" cellspacing="5px" cellpadding="">
<tr>
<td><p><input type="button" value="Select All" onclick="set_checkbox(this)"></p></td>
<td><p><input type="button" value="Unselect All" onclick="set_checkbox(this)"></p></td>
<td><p><input type="submit" value="Delete Checked" onclick="set_action(this)"></p></td>
<td><p><input type="submit" value="Save Checked" onclick="set_action(this)"></p></td>
<td><p><input type="submit" value="Review All Annotation" onclick="set_action(this)"></p></td>
<td><p><input type="submit" value="Submit Annotation" onclick="set_action(this)"></p></td>
</tr>
</table>
<br />
<TMPL_IF NAME="annotation_loop">
<h1>Gene Family Members and Annotation:</h1>
<table width="100%" class="contenttable">
<tbody>
<TMPL_LOOP NAME="annotation_loop">
  <tr>
      <input type="hidden" name="locus_id" value="<TMPL_VAR NAME="locus_id">">
      <td><p><input type="checkbox" name="toProcess" value="<TMPL_VAR NAME="locus_id">"></p></td>
      <td align="right" colspan=8>
        <p>Last Modified date: <b><TMPL_VAR NAME="mod_date"></b>
        <input type="hidden" name="mod_date_<TMPL_VAR NAME="locus_id">" value="<TMPL_VAR NAME="mod_date">">
      </p></td>
  </tr>

  <tr class="tableRowOdd">
	<td align=right rowspan=2 colspan=2>
        <p>Gene Symbol</p><br />
        <p>Functional Annotation</p>
    </td>

	<td rowspan=2>
        <p><input type="text" name="gene_symbol_<TMPL_VAR NAME="locus_id">" value="<TMPL_IF NAME="gene_symbol"><TMPL_VAR NAME="gene_symbol"></TMPL_IF>"></p><br />
        <p><input type="text" name="func_annotation_<TMPL_VAR NAME="locus_id">" value="<TMPL_IF NAME="func_annotation"><TMPL_VAR NAME="func_annotation"></TMPL_IF>"></p>
    </td>

	<td align=right rowspan=2>
        <p>MTR Locus</p><br />
        <p>Original Annotation</p>
    </td>
	<td rowspan=2>
        <p><input type="text" name="gene_locus_<TMPL_VAR NAME="locus_id">" value="<TMPL_IF NAME="gene_locus"><TMPL_VAR NAME="gene_locus"></TMPL_IF>"></p><br />
        <p><TMPL_VAR NAME="orig_func_annotation"></p>
    </td>

    <td align="right"><p>Num Alleles</p></td> <td><p> <TMPL_VAR NAME="num_alleles"><input type="hidden" name="locus_id" value="<TMPL_VAR NAME="locus_id">"></p></td>
	<td align="right"><p>Has Struct Annotation?</p></td> <td><p><TMPL_IF NAME="has_structural_annot">Yes<TMPL_ELSE>No</TMPL_IF></p></td>
  </tr>

  <tr class="tableRowOdd">
	<td colspan=2 align=center><p><input type="submit" name="" value="<TMPL_IF NAME="num_alleles">Edit<TMPL_ELSE>Add</TMPL_IF> Alleles" onclick="set_action(this, '<TMPL_VAR NAME="locus_id">')"></p></td>

	<td align="right"><p>View Struct Annotation</p></td> <td><p><input type="submit" name="" value="Go" onclick="set_action(this, '<TMPL_VAR NAME="gene_locus">')" <TMPL_IF NAME="has_structural_annot"><TMPL_ELSE>disabled</TMPL_IF>></p></td>
  </tr>

  <tr class="tableRowEven">
    <td rowspan=3 style="{vertical-align: center;}">
        <img src="/medicago/include/images/GenBank.png" />
    </td>
	<td align="right"><p>Genomic</p></td>
	<td><p> <input type="text" name="gb_genomic_acc_<TMPL_VAR NAME="locus_id">" value="<TMPL_IF NAME="gb_genomic_acc"><TMPL_VAR NAME="gb_genomic_acc"></TMPL_IF>"></p></td>

    <td align="right" rowspan=2><p>Mutant Phenotype</p></td>
	<td rowspan=2><p> <textarea ROWS=2 name="mutant_phenotype_<TMPL_VAR NAME="locus_id">"><TMPL_IF NAME="mutant_phenotype"><TMPL_VAR NAME="mutant_phenotype"></TMPL_IF></textarea></p></td>

    <td align="right" colspan=2><p>Reference Lab</p></td>
	<td colspan=2><p> <textarea ROWS=1 name="reference_lab_<TMPL_VAR NAME="locus_id">"><TMPL_IF NAME="reference_lab"><TMPL_VAR NAME="reference_lab"></TMPL_IF></textarea> </p></td>
  </tr>

  <tr class="tableRowEven">
    <td align="right"><p>cDNA</p></td>
	<td><p> <input type="text" name="gb_cdna_acc_<TMPL_VAR NAME="locus_id">" value="<TMPL_IF NAME="gb_cdna_acc"><TMPL_VAR NAME="gb_cdna_acc"></TMPL_IF>"></p></td>

    <td align="right" colspan=2><p>Reference Publication</p></td>
	<td colspan=2><p> <textarea ROWS=1 name="reference_pub_<TMPL_VAR NAME="locus_id">"><TMPL_IF NAME="reference_pub"><TMPL_VAR NAME="reference_pub"></TMPL_IF></textarea> </p></td>
  </tr>

  <tr class="tableRowEven">
    <td align="right"><p>Protein</p></td>
    <td><p><input type="text" name="gb_protein_acc_<TMPL_VAR NAME="locus_id">" value="<TMPL_IF NAME="gb_protein_acc"><TMPL_VAR NAME="gb_protein_acc"></TMPL_IF>">
    </p></td>

	<td align="right"><p>Mapping Data</p></td>
	<td><p> <textarea name="mapping_data_<TMPL_VAR NAME="locus_id">"><TMPL_IF NAME="mapping_data"><TMPL_VAR NAME="mapping_data"></TMPL_IF></textarea> </p></td>

    <td align="right" colspan=2><p>Comment</p></td>
	<td colspan=2><p> <textarea ROWS=1 name="comment_<TMPL_VAR NAME="locus_id">"><TMPL_IF NAME="comment"><TMPL_VAR NAME="comment"></TMPL_IF></textarea> </p></td>
  </tr>
  <tr><td colspan=6><p>&nbsp;</p></td></tr>

</TMPL_LOOP>
</tbody>
</table>
<TMPL_ELSE>
<h1>Gene Family Members and Annotation:</h1>
<br><br>
<h2>No loci selected for this gene family.</h2>
</TMPL_IF>
<br />
<table border="0" cellspacing="5px" cellpadding="">
<tr>
<td><p><input type="button" value="Select All" onclick="set_checkbox(this)"><td><p>
<td><p><input type="button" value="Unselect All" onclick="set_checkbox(this)"></p></td>
<td><p><input type="submit" value="Delete Checked" onclick="set_action(this)"></p></td>
<td><p><input type="submit" value="Save Checked" onclick="set_action(this)"></p></td>
<td><p><input type="submit" value="Review All Annotation" onclick="set_action(this)"></p></td>
<td><p><input type="submit" value="Submit Annotation" onclick="set_action(this)"></p></td>
</tr>
</table>
<br />

</form>
