      <table class="contenttable">
          <tr class="tableRowEven">
            <input type="hidden" id="mutant_id" name="mutant_id" value="<TMPL_VAR NAME="mutant_id">">
            <input type="hidden" id="mutant_mod_date" name="mutant_mod_date" value="<TMPL_VAR NAME="mutant_mod_date">">
            <td <TMPL_IF NAME="mutant_symbol_edit">class="tableRowEdit"</TMPL_IF>><p>
            <label for="mutant_symbol">Mutant Symbol: </label>
            <input type="text" id="mutant_symbol" name="mutant_symbol" value="<TMPL_IF NAME="mutant_symbol"><TMPL_VAR NAME="mutant_symbol"><TMPL_ELSE>Search mutants...</TMPL_IF>" onfocus="if(this.value == 'Search mutants...') this.value = '';" onblur="if(this.value == '') this.value = 'Search mutants...';">&nbsp;<span width="16px" id="mutant_autocmp_status" name="mutant_autocmp_status"></span><br /><br />
            </p></td>

            <script type="text/javascript">
                $(function() {
                    $("#mutant_symbol").autocomplete({
                        source: "/cgi-bin/medicago/eucap2/eucap.pl?action=get_mutant_info",
                        delay: 200,
                        minLength: 2,
                        search: function(event, ui) {
                            clear_div('annotate_alleles');

                            if ($(this).val().length < 3) {
                                $('#mutant_id').val("");
                                $('#mutant_class_id').val("");
                                $('#mutant_phenotype').val("");
                                $('#mapping_data').val("");
                                $('#mutant_reference_lab').val("");
                                $('#mutant_reference_pub').val("");
                                $('#mutant_class_symbol').val("");
                                $('#mutant_class_name').val("");

                                $('#get_alleles').prop('disabled', true);
                            }
                            $(this).val( $(this).val().toUpperCase() );
                            $('#mutant_autocmp_status').html('<img src="/medicago/eucap/include/images/loading.gif" />');
                        },
                        focus: function(event, ui) {
                            $('#mutant_phenotype').val(ui.item.phenotype);
                        },
                        select: function(event, ui) {
                            $('#mutant_id').val(ui.item.id);
                            $('#mapping_data').val(ui.item.mapping_data);
                            $('#mutant_reference_lab').val(ui.item.reference_lab);
                            $('#mutant_reference_pub').val(ui.item.reference_pub);

                            $('#mutant_class_id').val(ui.item.mutant_class_id);
                            $('#mutant_class_symbol').val(ui.item.mutant_class_symbol);
                            $('#mutant_class_name').val(ui.item.mutant_class_name);
                            $('#has_alleles').val(ui.item.has_alleles);

                            var has_alleles_val = "Edit";
                            if(ui.item.has_alleles == 0) {
                                has_alleles_val = "Add";
                            }

                            $('#disp_get_alleles').html(
                                '<input type="button" id="get_alleles" name="get_alleles"'
                                + ' value="' + has_alleles_val
                                + '" onclick="perform_action(\'annotate_alleles\', \'mutant_id\', '
                                + ui.item.id + ')" />'
                            );
                            $('#get_alleles').prop('disabled', true);
                        },
                        change: function(event, ui) {
                            $('#mutant_autocmp_status').html("");
                            if($('#mutant_class_symbol').val().length === 0 && $(this).val().length >= 3 && $(this).val() !== 'Search mutants...') {
                                var class_symbol = $(this).val();
                                class_symbol = class_symbol.replace(/\d+$/g, '');
                                $('#mutant_class_symbol').val(class_symbol);

                                $('#mutant_id').val("");
                                $('#mapping_data').val("")
                                $('#mutant_reference_lab').val("");
                                $('#mutant_reference_pub').val("");

                                $('#mutant_class_id').val("");
                                $('#mutant_class_name').val("");
                                $('#has_alleles').val("");

                                $('#get_alleles').prop('disabled', true);
                            }
                        },
                        close: function(event, ui) {
                            $('#mutant_autocmp_status').html("");
                        }
                    });
                });

                $('#mutant_symbol').keyup(function() {
                    if($(this).val().length == 0 && $(this).val() !== 'Search mutants...') {
                        clear_div('annotate_alleles');

                        $('#mutant_autocmp_status').html("");
                        $('#mutant_id').val("");
                        $('#mutant_class_id').val("");
                        $('#mutant_phenotype').val("");
                        $('#mapping_data').val("");
                        $('#mutant_reference_lab').val("");
                        $('#mutant_reference_pub').val("");
                        $('#mutant_class_symbol').val("");
                        $('#mutant_class_name').val("");

                        $('#disp_get_alleles').html("No");
                    }
                });
        </script>

            <td rowspan=2 <TMPL_IF NAME="mutant_phenotype_edit">class="tableRowEdit"</TMPL_IF>><p>
            <label for="mutant_phenotype">Mutant Phenotype: </label>
            <textarea ROWS=4 id="mutant_phenotype" name="mutant_phenotype"><TMPL_IF NAME="mutant_phenotype"><TMPL_VAR NAME="mutant_phenotype"></TMPL_IF></textarea>
            </p></td>
          </tr>

          <tr class="tableRowEven">
            <td <TMPL_IF NAME="mutant_class_symbol_edit">class="tableRowEdit"</TMPL_IF>><p>
            <input type="hidden" id="mutant_class_id" name="mutant_class_id" value="<TMPL_VAR NAME="mutant_class_id">">
            <label for="mutant_class_symbol">Mutant Class Symbol &amp; Expansion: </label>
            <input readonly="readonly" type="text" size="6" id="mutant_class_symbol" name="mutant_class_symbol" value="<TMPL_IF NAME="mutant_class_symbol"><TMPL_VAR NAME="mutant_class_symbol"></TMPL_IF>"><br />
            <br />
            <textarea ROWS=1 id="mutant_class_name" name="mutant_class_name"><TMPL_IF NAME="mutant_class_name"><TMPL_VAR NAME="mutant_class_name"></TMPL_IF></textarea>
            </p></td>
          </tr>

          <tr class="tableRowEven">
            <td <TMPL_IF NAME="mapping_data_edit">class="tableRowEdit"</TMPL_IF>><p>
            <label for="mapping_data">Mapping Data: </label>
            <textarea id="mapping_data" name="mapping_data"><TMPL_IF NAME="mapping_data"><TMPL_VAR NAME="mapping_data"></TMPL_IF></textarea>
            </p></td>

            <td><p>
            <label for="alleles">Has Alleles?</label>
            <input type="hidden" id="has_alleles" name="has_alleles" value="<TMPL_VAR NAME="has_alleles">">
            <span id="disp_get_alleles" name="disp_get_alleles">
                <TMPL_IF NAME="mutant_id">
                <input type="button" id="get_alleles" name="get_alleles"
                value="<TMPL_IF NAME="has_alleles">Edit<TMPL_ELSE>Add</TMPL_IF>"
                onclick="perform_action('annotate_alleles', 'mutant_id', <TMPL_VAR NAME="mutant_id">);">
                <TMPL_ELSE>
                No
                </TMPL_IF>
            </span>
            </p></td>
          </tr>

          <tr class="tableRowEven">
            <td <TMPL_IF NAME="mutant_reference_lab_edit">class="tableRowEdit"</TMPL_IF>><p>
            <label for="mutant_reference_lab">Reference Lab: </label>
            <textarea ROWS=1 id="mutant_reference_lab" name="mutant_reference_lab"><TMPL_IF NAME="mutant_reference_lab"><TMPL_VAR NAME="mutant_reference_lab"></TMPL_IF></textarea>
            </p></td>

            <td <TMPL_IF NAME="mutant_reference_pub_edit">class="tableRowEdit"</TMPL_IF>><p>
            <label for="mutant_reference_pub">Reference Publication: </label>
            <textarea ROWS=1 id="mutant_reference_pub" name="mutant_reference_pub"><TMPL_IF NAME="mutant_reference_pub"><TMPL_VAR NAME="mutant_reference_pub"></TMPL_IF></textarea>
            </p></td>
          </tr>
      </table>

    <script type="text/javascript">
        // Mutant info related tooltips
        $('#edit_mutant_info').qtip({
            content: 'Required fields:<br />' +
            '<ul>' + '<li>Mutant Symbol</li>' + '<li>Mutant Class Expansion</li>' + '<li>Phenotype</li>' + '<li>Reference publication</li>' + '</ul>',
            position: { my: 'top left', at: 'right center' }
        });
        $('#mutant_symbol').qtip({
            content: {
                text: '<b style="color: red;">Required</b><br />Search for a mutant symbol in our database of known mutants.<br /><br />' +
                'Refer to the <a href="/cgi-bin/medicago/annotation.cgi?page=mutant_info" target="_blank">Mutant List</a> page ' +
                '<img style="vertical-align: middle;" src="/medicago/include/images/external_link.gif" /> and also a<br />' +
                'summary of <a href="/cgi-bin/medicago/annotation.cgi?page=mutant_nomenclature" target="_blank">Mutant Nomenclature Rules</a> ' +
                '<img style="vertical-align: middle;" src="/medicago/include/images/external_link.gif" />',
                title: { text: 'Search mutants', button: true }
            },
            position: { my: 'bottom left', at: 'top center' },
            hide: false
        });
        $('#mutant_class_name').qtip({
            content: '<b style="color: red;">Required</b><br />Provide an appropriate expansion for the abbreviated mutant symbol',
            position: { my: 'bottom left', at: 'top center' }
        });
        $('#mutant_phenotype').qtip({
            content: '<b style="color: red;">Required</b><br />Verbose description of the mutant phenotype',
            position: { my: 'bottom left', at: 'top center' }
        });
        $('#mapping_data').qtip({
            content: '<b style="color: green;">Optional</b><br />If available, please summarize what is known about the chromosomal location of the gene, and results of any allelism tests performed',
            position: { my: 'bottom left', at: 'top center' }
        });
        $('#mutant_reference_pub').qtip({
            content: '<b style="color: red;">Required</b><br />Please indicated any publications on web sites.<br />If work is not published yet, please input <br /> "In Progress" or "In Press"',
            position: { my: 'bottom left', at: 'top center' }
        });
        $('#mutant_reference_lab').qtip({
            content: '<b style="color: green;">Optional</b><br />Name of lab where mutant was characterized',
            position: { my: 'bottom left', at: 'top center' }
        });
    </script>
