<script type="text/javascript">
    //// prettify all the buttons
    $(function() {
        $('.submitButton, .inputButton, .resetButton').button();
    });
</script>

<p class="section">Edit <TMPL_VAR NAME="gene_symbol"> Gene <img id="edit_gene_info" style="vertical-align: super;" src="/medicago/eucap/include/images/info.png" /></p>
<form id="locus_annotate" name="locus_annotate" onsubmit="return save_locus(<TMPL_VAR NAME="locus_id">);">
    <input type="hidden" id="action" name="action" value="save_locus">
    <table width="100%" class="contenttable">
    <tbody>
      <tr>
          <input type="hidden" id="locus_id" name="locus_id" value="<TMPL_VAR NAME="locus_id">">
          <td align="right" colspan="3">
            <p id="locus_mod_date" name="locus_mod_date">Last Modified date: <b><TMPL_VAR NAME="mod_date"></b></p>
            <input type="hidden" id="mod_date" name="mod_date" value="<TMPL_VAR NAME="mod_date">">
          </td>
      </tr>

      <tr class="tableRowOdd">
        <td class="locus_<TMPL_VAR NAME="locus_id"><TMPL_IF NAME="gene_symbol_edit"> tableRowEdit</TMPL_IF>" colspan="2"><p><label for="gene_symbol">Gene Symbol: </label>
        <input type="text" id="gene_symbol" name="gene_symbol" value="<TMPL_IF NAME="gene_symbol"><TMPL_VAR NAME="gene_symbol"></TMPL_IF>"></p></td>
        <td class="locus_<TMPL_VAR NAME="locus_id"><TMPL_IF NAME="func_annotation_edit"> tableRowEdit</TMPL_IF>"><p><label for="func_annotation">Proposed Functional Annotation:</label>
        <textarea id="func_annotation" name="func_annotation"><TMPL_IF NAME="func_annotation"><TMPL_VAR NAME="func_annotation"></TMPL_IF></textarea></p></td>
      </tr>

      <tr class="tableRowOdd">
        <td colspan="2"><p><label for="gene_locus">MTR Locus: </label>
        <input readonly="readonly" id="gene_locus" name="gene_locus" value="<TMPL_IF NAME="gene_locus"><TMPL_VAR NAME="gene_locus"></TMPL_IF>" />
        </p></td>
<!--
        &nbsp;<span width="16px" id="gene_autocmp_status" name="gene_autocmp_status"></span>
        <script type="text/javascript">
            $(function() {
                $("#gene_locus").autocomplete({
                    source: "/cgi-bin/medicago/eucap/eucap.pl?action=get_loci",
                    delay: 400,
                    minLength: 6,
                    search: function(event, ui) {
                        $('#gene_autocmp_status').html('<img src="/medicago/eucap/include/images/loading.gif" />');
                    },
                    focus: function(event, ui) {
                        $('#orig_func_annotation').val(ui.item.orig_func_annotation);
                    },
                    change: function(event, ui) {
                        $('#gene_autocmp_status').html("");
                                        },
                    close: function(event, ui) {
                        $('#gene_autocmp_status').html("");
                    }
                });
            });

            $("#gene_locus").keyup(function () {
              if ($(this).val() === '') {
                  $('#orig_func_annotation').val("");
              }
            }).keyup();
        </script>
-->
        <td><p><label for="orig_func_annotation">Original Annotation: </label>
        <textarea readonly="readonly" id="orig_func_annotation" name="orig_func_annotation"><TMPL_IF NAME="orig_func_annotation"><TMPL_VAR NAME="orig_func_annotation"></TMPL_IF></textarea></p></td>
      </tr>

      <tr class="tableRowEven">
        <!--td rowspan="3" style="{vertical-align: center;}"><img src="/medicago/include/images/GenBank.png" /></td-->
        <td rowspan="3" width="5%"><p id="gb_acc"><b>GenBank<br />Accessions</b></p></td>
        <td class="locus_<TMPL_VAR NAME="locus_id"><TMPL_IF NAME="gb_genomic_acc_edit"> tableRowEdit</TMPL_IF>"><p><label for="gb_genomic_acc">Genomic: </label>
        <input type="text" id="gb_genomic_acc" name="gb_genomic_acc" value="<TMPL_IF NAME="gb_genomic_acc"><TMPL_VAR NAME="gb_genomic_acc"></TMPL_IF>"></p></td>
        <td class="locus_<TMPL_VAR NAME="locus_id"><TMPL_IF NAME="reference_pub_edit"> tableRowEdit</TMPL_IF>"><p><label for="reference_pub">Reference Publication: </label>
        <textarea ROWS=1 id="reference_pub" name="reference_pub"><TMPL_IF NAME="reference_pub"><TMPL_VAR NAME="reference_pub"></TMPL_IF></textarea>
        </p></td>
      </tr>

      <tr class="tableRowEven">
        <td class="locus_<TMPL_VAR NAME="locus_id"><TMPL_IF NAME="gb_cdna_acc_edit"> tableRowEdit</TMPL_IF>"><p><label for="gb_cdna_acc">cDNA: </label>
        <input type="text" id="gb_cdna_acc" name="gb_cdna_acc" value="<TMPL_IF NAME="gb_cdna_acc"><TMPL_VAR NAME="gb_cdna_acc"></TMPL_IF>"></p></td>
        <td class="locus_<TMPL_VAR NAME="locus_id"><TMPL_IF NAME="comment_edit"> tableRowEdit</TMPL_IF>"><p><label for="comment">Comment: </label>
        <textarea ROWS=1 id="comment" name="comment"><TMPL_IF NAME="comment"><TMPL_VAR NAME="comment"></TMPL_IF></textarea></p></td>
      </tr>

      <tr class="tableRowEven">
        <td class="locus_<TMPL_VAR NAME="locus_id"><TMPL_IF NAME="gb_protein_acc_edit"> tableRowEdit</TMPL_IF>"><p><label for="gb_protein_acc">Protein: </label>
        <input type="text" id="gb_protein_acc" name="gb_protein_acc" value="<TMPL_IF NAME="gb_protein_acc"><TMPL_VAR NAME="gb_protein_acc"></TMPL_IF>"></p></td>
        <td><p><label for="structural_annot">Has Struct Annotation?</label>
        <input type="hidden" id="has_structural_annot" name="has_structural_annot" value="<TMPL_VAR NAME="has_structural_annot">">
        <TMPL_IF NAME="has_structural_annot"><input type="button" class="inputButton" id="structural_annot" name="structural_annot" value="View/Edit" onclick="perform_action('struct_anno', 'locus_id', <TMPL_VAR NAME="locus_id">);"><TMPL_ELSE>No</TMPL_IF></p></td>
      </tr>

      <tr class="tableRowEven"><td class="locus_<TMPL_VAR NAME="locus_id"><TMPL_IF NAME="mutant_id_edit"> tableRowEdit</TMPL_IF>" colspan="3">
      <p><input type="button" class="inputButton" id="hide_panel" name="hide_panel" value="<TMPL_IF NAME="mutant_id">Hide<TMPL_ELSE>Add</TMPL_IF>"
      onclick="toggle_mutant_panel('hide_panel', <TMPL_IF NAME="mutant_id">1<TMPL_ELSE>0</TMPL_IF>);">
      Mutant Information <img id="edit_mutant_info" style="vertical-align: middle;" src="/medicago/eucap/include/images/info.png" /></p>
        <div class="panel_background large_margin" style="display:<TMPL_IF NAME="mutant_id">block<TMPL_ELSE>none</TMPL_IF>;" id="mutant_panel">
            <TMPL_INCLUDE NAME="annotate_mutant.tmpl">
        </div>
      </td></tr>
    </tbody>
    </table>
    <br />
    <table width="100%" border="0" cellpadding="20px">
    <tr height="10px">
        <td width="10%" align="center"><p><input type="submit" class="submitButton" value="Save Annotation" /></p></td>
        <td width="10%" align="center"><p><input type="reset" class="resetButton" onclick="clear_status('locus');"></p></td>
        <td width="70%" align="left"><span id="locus_save_status" name="locus_save_status"></span></td>
        <td width="10%" align="right"><p><input type="button" class="inputButton" value="Close" onclick="close_panel_and_scroll('annotate_locus', 'locus_table');" /></p></td>
    </tr>
    </table>
</form>

<hr />

<script type="text/javascript">
    // Gene Info related tooltips
    $('#edit_gene_info').qtip({
        content: 'Required fields:<br />' +
        '<ul>' + '<li>Gene Symbol</li>' + '<li>At least one GenBank Accession</li>' + '<li>Reference publication</li>' + '</ul>',
        position: { my: 'top left', at: 'right center' }
    });
    $('#gene_symbol').qtip({
        content: '<b style="color: red;">Required</b><br />Example: ZIP1, RopGEF3',
        position: { my: 'bottom left', at: 'top center' }
    });
    $('#func_annotation').qtip({
        content: '<b style="color: green;">Optional</b><br />Functional annotation, as suggested <br />by Community Annotator (<TMPL_VAR NAME="username">)',
        position: { my: 'bottom left', at: 'top center' }
    });
    $('#gene_locus').qtip({
        content: 'Official IMGAG Gene locus identifier',
        position: { my: 'bottom left', at: 'top center' }
    });
    $('#orig_func_annotation').qtip({
        content: 'Current functional annotation,<br /> as found in Mt3.5v5',
        position: { my: 'bottom left', at: 'top center' }
    });
    $('#gb_genomic_acc, #gb_cdna_acc, #gb_protein_acc').qtip({
        content: '<b style="color: red;">Required</b><br />Provide any one of the <br />3 GenBank accessions',
        position: { my: 'top right', at: 'bottom center', target: $('#gb_acc') }
    });
    $('#comment').qtip({
        content: '<b style="color: green;">Optional</b><br />User comments for current locus',
        position: { my: 'bottom left', at: 'top center' }
    });
    $('#reference_pub').qtip({
        content: '<b style="color: red;">Required</b><br />Please indicated any publications on web sites.<br />If work is not published yet, please input <br /> "In Progress" or "In Press"',
        position: { my: 'bottom left', at: 'top center' }
    });
</script>

<div id="annotate_alleles" name="annotate_alleles" class="hide_panel" style="text-align: left;"></div>

<div id="struct_anno" name="struct_anno" class="hide_panel" style="text-align: left;"></div>
