	<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
	<TMPL_UNLESS NAME="disabled"><li<TMPL_IF NAME="family_panel"> class="active"</TMPL_IF>><a href="#gene_family" data-toggle="tab" disabled="true">Annotate Gene Families</a></li></TMPL_UNLESS>
	<li<TMPL_IF NAME="loci_panel"> class="active"</TMPL_IF>><a href="#loci" data-toggle="tab">Annotate Gene Loci</a></li>
	<li<TMPL_IF NAME="mutant_panel"> class="active"</TMPL_IF>><a href="#mutant_class" data-toggle="tab">Annotate Mutants</a></li>
	</ul>
    <div id="actions" class="tab-content">
        <TMPL_UNLESS NAME="disabled">
        <div id="gene_family" class="tab-pane<TMPL_IF NAME="family_panel"> active</TMPL_IF>">
        	<div class="alert alert-info">
        		<button type="button" class="close" data-dismiss="alert">&times;</button>
        		<p class="lead">Annotate Gene Families</p>
        		<p>Click the <button class="btn btn-mini btn-primary" type="button">Annotate</button> button next to a certain Gene Family to edit the members of the family</p>
        	</div>
			<TMPL_INCLUDE NAME="gene_family_summary.tmpl">
        </div>
        </TMPL_UNLESS>

        <div id="loci" class="tab-pane<TMPL_IF NAME="loci_panel"> active</TMPL_IF>">
			<TMPL_INCLUDE NAME="info_panels/annotate_loci_multi.tmpl">

			<div id="add_by_locus" class="hide_panel panel_background large_margin">
				<p class="lead">Add Gene Loci</p>
				<p class="header3">Please input locus identifiers (comma-separated list):</p>
	            <input type="hidden" id="action" name="action" value="annotate_loci">
	            <input type="hidden" id="user_id" name="user_id" value="<TMPL_VAR NAME="user_id">">

	            <input id="loci_list" name="loci_list" value="" />
	            <br />
                <p><input type="submit" class="btn btn-primary" value="Add Loci" onclick="add_from_list('loci', 'loci_list', 'id', 'dashboard&loci_panel=1');" />
	            &nbsp;&nbsp;
	            <input type="reset" id="reset_loci_add" class="btn" value="Reset" /></p>
			    <br />
			</div>

			<TMPL_INCLUDE NAME="blast_form.tmpl">		
			<span id="loci_add_status" name="loci_add_status"></span>

			<TMPL_INCLUDE NAME="locus_multiselect.tmpl">
            <div id="annotate_locus" name="annotate_locus"></div>
		</div>

        <div id="mutant_class" class="tab-pane<TMPL_IF NAME="mutant_panel"> active</TMPL_IF>">
			<TMPL_INCLUDE NAME="info_panels/annotate_mutant_class.tmpl">
			
			<TMPL_INCLUDE NAME="mutant_class_summary.tmpl">
        </div>
        <div id="add_mutant_class_dialog" name="add_mutant_class_dialog" class="hide_panel" style="text-align: left;"></div>
		<div id="annotate_mutant_class" name="annotate_mutant_class" class="hide_panel" style="text-align: left;"></div>
   	</div>

	<style>
	p.select_panel_header{
	  margin: 0;
	  padding: 3px;
	  background: #777;
	  color: #fff;
	  text-align: center;
	  border: 1px #333 solid;
	  -webkit-border-radius: 4px 4px 0px 0px;
	  -moz-border-radius: 4px 4px 0px 0px;
	  border-radius: 4px 4px 0px 0px;
	}
	</style>
	
	<script type="text/javascript">
		// click the first radio button (by default) in the gene family list
	    $(function() {
	        $('#gene_family input:radio:first').attr('checked', true).click();
	    });
	
		// autocomplete tags from GFF DB
		$('#loci_list').tagsInput({
			autocomplete_url: '/cgi-bin/eucap/eucap.pl?action=get_loci&app=tagsinput',
			minChars: 6,
	        defaultText: '',
		});
	    $('#reset_loci_add').click(function() { $('#loci_list').importTags(''); });
	
		// allow selecting (and editing) of pre-exisiting Medtr loci in the EuCAP database
	    $(function() {
	        var select_id = 'locus_id';
		    $('.multiselect').multiSelect({
	            selectableHeader: '<p class="select_panel_header">Available Loci</p><br />' +
	                              '<center><input type="text" id="select_panel" autocomplete="off" placeholder="Start typing to filter" size="30" /></center>',
	            selectedHeader: '<p class="select_panel_header">Selected Loci</p>'
	        });
	
	        $('input#select_panel').quicksearch('#ms-' + select_id + ' .ms-selectable li');
	    });
	    $('#reset_loci_select').click(function() { $('.multiselect').multiSelect('deselect_all'); return false; });
	
	
	    $(function() {
	        $('.selectBox').selectBox();
	    });
	</script>