	<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
	<TMPL_UNLESS NAME="disabled"><li<TMPL_IF NAME="family_panel"> class="active"</TMPL_IF>><a href="#gene_family" data-toggle="tab" disabled="true">Annotate Gene Families</a></li></TMPL_UNLESS>
	<li<TMPL_IF NAME="loci_panel"> class="active"</TMPL_IF>><a href="#loci" data-toggle="tab">Annotate Gene Loci</a></li>
	<li<TMPL_IF NAME="mutant_panel"> class="active"</TMPL_IF>><a href="#mutant_class" data-toggle="tab">Annotate Mutants</a></li>
	</ul>
    <div id="actions" class="tab-content">
        <TMPL_UNLESS NAME="disabled">
        <div id="gene_family" class="tab-pane<TMPL_IF NAME="family_panel"> active</TMPL_IF>">
        	<div class="alert alert-info">
        		<button type="button" class="close" data-dismiss="alert">&times;</button>
        		<p class="lead">Annotate Gene Families</p>
        		<p>Click the <button class="btn btn-mini btn-primary" type="button">Annotate</button> button next to a certain Gene Family to edit the members of the family</p>
        	</div>
            <!--form id="annotate_family" name="annotate_family" onsubmit="return navigate('annotate', 'annotate_family');"-->
            <form id="annotate_family" name="annotate_family" action="/cgi-bin/eucap/eucap.pl" method="POST">
                <input type="hidden" id="action" name="action" value="annotate">
                <input type="hidden" id="user_id" name="user_id" value="<TMPL_VAR NAME="user_id">">
                <input type="hidden" id="family_id" name="family_id" value="">
                <input type="hidden" id="reload" name="reload" value="1">

				<!-- Table listing all Gene Families associated with current user -->
                <table class="table table-striped table-condensed">
                <thead>
                  <tr>
                    <th><p>Gene Class Symbol</p></th>
                    <th><p>Family Name</p></th>
                    <TMPL_IF NAME="is_admin">
                    <th><p>Edits Pending Approval</p></th>
                    <TMPL_ELSE>
                    <th><p>Description</p></th>
                    </TMPL_IF>
                    <th><p>&nbsp;</p></th>
                  </tr>
                </thead>
                <tbody>
                <TMPL_LOOP NAME="gene_family_radio">
                  <tr>
                    <td><p><TMPL_VAR NAME="gene_class_symbol"></p></td>
                    <td><p><TMPL_VAR NAME="family_name"></p></td>
                    <TMPL_IF NAME="is_admin">
                    <td><p><TMPL_VAR NAME="pending_edits"></p></td>
                    <TMPL_ELSE>
                    <td><p><TMPL_VAR NAME="description"></p></td>
                    </TMPL_IF>
                    <td><p><input type="submit" class="btn btn-primary" value="Annotate" onclick="set_value('family_id', <TMPL_VAR NAME="family_id">, 'annotate_family');"></p></td>
                  </tr>
                </TMPL_LOOP>
                </tbody>
                </table>
            </form>
        </div>
        </TMPL_UNLESS>

        <div id="loci" class="tab-pane<TMPL_IF NAME="loci_panel"> active</TMPL_IF>">
           	<div class="alert alert-info">
           		<button type="button" class="close" data-dismiss="alert">&times;</button>
        		<p class="lead">Annotate Gene Loci</p>
        		<p>Choose one (or multiple) loci from the <strong>Choose Gene Loci</strong> section of the selector below to edit the functional
        		metadata associated with loci. Once you've made your selection, click <button class="btn btn-mini btn-primary" type="button">Annotate</button>
                <br />
                You can clear your <strong>Selected Loci</strong> by clicking the <button class="btn btn-mini" type="button">Reset</button> button.</p>
        		<p><strong>Note:</strong> This list displays <strong>Gene Loci</strong> that are being actively curated in the EuCAP database</p>
        		<p>To add (and subsequently edit) any <strong>Medtr</strong> loci not in the EuCAP database, you can use one of the following methods:
        		<ul>
	        		<li><button class="btn btn-mini" type="button">Add Locus by ID</button> takes a comma separated list of <em>Mt</em> identifiers</li>
	        		<li><button class="btn btn-mini" type="button">Add Locus by BLAST</button> allows you to BLAST search your CDS/AA against the <em>Mt</em> proteome and identify homologs. From the search results, you can choose the list of loci to curate.</li>
        		</ul>
        		</p>
        	</div>

			<div id="add_by_locus" class="hide_panel panel_background large_margin">
				<p class="lead">Add Gene Loci</p>
				<p class="header3">Please input locus identifiers (comma-separated list):</p>
	            <input type="hidden" id="action" name="action" value="annotate_loci">
	            <input type="hidden" id="user_id" name="user_id" value="<TMPL_VAR NAME="user_id">">

	            <input id="loci_list" name="loci_list" value="" />
	            <br />
                <p><input type="submit" class="btn btn-primary" value="Add Loci" onclick="add_from_list('loci', 'loci_list', 'id', 'dashboard&loci_panel=1');" />
	            &nbsp;&nbsp;
	            <input type="reset" id="reset_loci_add" class="btn" value="Reset" /></p>
			    <br />
			</div>

			<div id="add_by_blast" class="hide_panel panel_background large_margin">
			    <form id="run_blast_form" name="run_blast_form" onsubmit="return perform_action('run_blast', undefined, undefined);">
			        <p class="lead">Add gene loci by BLAST similarity</p>
			        <p class="header3">Please input protein OR nucleotide sequences
			        (in FASTA format) to identify Medicago truncatula homologs:</p>

			        <input type="hidden" id="action" name="action" value="run_blast">
			        <p>Input sequence: <select class="selectBox" id="seqtype" name="seqtype">
			            <option selected="selected" value="protein">Protein</option>
			            <option value="dna">Nucleotide</option>
			            </select>
			          E value: <select class="selectBox" id="evalue" name="evalue">
			            <option value="1e-50">1e-50</option>
			            <option selected="selected" value="1e-20">1e-20</option>
			            <option value="1e-10">1e-10</option>
			            <option value="1e-5">1e-5</option>
			            </select>
			          </p>
			        <textarea class="input-xxlarge" rows="5" id="fasta" name="fasta"></textarea>
			        <br /><br />
			        <p><input type="submit" class="btn btn-primary" value="Find Homologs">&nbsp;
			        <input type="reset" class="btn" value="Reset"></p>
			        <br />
			    <div id="run_blast"></div>
			    </form>
			</div>
			<span id="loci_add_status" name="loci_add_status"></span>

			<div class="pull-right">
			    <input type="button" class="btn" id="locus_add" name="locus_add" value="Add Locus by ID" onclick="toggle_panel('add_by_locus', 'add_by_blast');">
			    &nbsp;&nbsp;&nbsp;&nbsp;
			    <input type="button" class="btn" id="blast_add" name="blast_add" value="Add Locus by BLAST" onclick="toggle_panel('add_by_blast', 'add_by_locus');">
			</div>
			<br /><br />
			<div id="locus_table" name="locus_table" class="locus_select_panel">
	            <TMPL_IF NAME="locus_select_list">
	               <select id="locus_id" multiple="multiple" class="multiselect"><TMPL_LOOP NAME="locus_select_list">
	                   <option <TMPL_IF NAME="disabled">disabled="disabled"</TMPL_IF> value="<TMPL_VAR NAME="locus_id">"><TMPL_VAR NAME="gene_locus"> <TMPL_VAR NAME="func_annotation"> <TMPL_IF NAME="gene_symbol">(<TMPL_VAR NAME="gene_symbol">)</TMPL_IF></option></TMPL_LOOP>
	               </select><br />
	               <p><input type="submit" class="btn btn-primary" value="Annotate" onclick="perform_action('annotate_locus', 'locus_id', '');" />&nbsp;&nbsp;
	               <input type="reset" id="reset_loci_select" class="btn" value="Reset" /></p>
	            </TMPL_IF>
	        </div>
			<br />
			<div<TMPL_UNLESS NAME="locus_summary_loop"> class="hide_panel"</TMPL_UNLESS> id="locus_panel" name="locus_panel">
				<!-- Table listing loci which are unapproved as of yet -->
			    <p class="lead">Unapproved Loci</p>
	        	<table id="locus_summary_table" name="locus_summary_table" class="table table-striped table-condensed">
	        	<thead>
					<tr id="locus_table_header" name="locus_table_header">
						<th><p>Gene Symbol</p></th>
						<th><p>MTR Locus</p></th>
						<th><p>Original<br />Functional Annotation</p></th>
						<th><p>&nbsp;</p></th>
					</tr>
				</thead>
			    <tbody>
	            <TMPL_IF NAME="locus_summary_loop">
		            <TMPL_LOOP NAME="locus_summary_loop">
					<tr class="locus_<TMPL_VAR NAME="locus_id"> <TMPL_VAR NAME="tableRowClass">">
						<input type="hidden" id="locus_id" name="locus_id" value="<TMPL_VAR NAME="locus_id">">
						<td><p id="gene_symbol_<TMPL_VAR NAME="locus_id">"><TMPL_VAR NAME="gene_symbol"></p></td>
						<td><p id="gene_locus_<TMPL_VAR NAME="locus_id">"><TMPL_VAR NAME="gene_locus"></p></td>
						<td><p id="orig_func_annotation_<TMPL_VAR NAME="locus_id">"><TMPL_VAR NAME="orig_func_annotation"></p></td>
				        <td><p>
				            <img src="/eucap/include/images/delete.png" class="delete_locus_<TMPL_VAR NAME="locus_id">" alt="Delete Gene <TMPL_VAR NAME="gene_symbol">" title="Delete Gene <TMPL_VAR NAME="gene_symbol">" onclick="delete_feature('locus', <TMPL_VAR NAME="locus_id">, '<TMPL_VAR NAME="gene_symbol">');" />
				        </p></td>
					</tr>
					</TMPL_LOOP>
			    </tbody>
				</TMPL_IF>
				</table>
				<span height="16px" style="float: right;" id="locus_delete_status" name="locus_delete_status"></span>
			</div>
			<br />

			<div<TMPL_UNLESS NAME="deleted_locus_summary_loop"> class="hide_panel"</TMPL_UNLESS> id="deleted_locus_panel" name="deleted_locus_panel">
				<!--
					 Table lists loci that have been deleted by user
					 Note: Only unapproved loci can be deleted
				-->
			    <p class="lead">Deleted Loci</p>
			    <table id="deleted_locus_table" name="deleted_locus_table" class="table table-striped table-condensed">
			    	<thead>
			        <tr id="locus_table_header" name="locus_table_header">
			            <th><p>Gene Symbol</p></th>
			            <th><p>MTR Locus</p></th>
			            <th><p>Original<br />Functional Annotation</p></th>
			            <th><p>&nbsp;</p></th>
			        </tr>
			        </thead>
			        <tbody>
					<TMPL_IF NAME="deleted_locus_summary_loop">
				        <TMPL_LOOP NAME="deleted_locus_summary_loop">
				        <tr class="locus_<TMPL_VAR NAME="locus_id"> <TMPL_VAR NAME="tableRowClass">">
				            <input type="hidden" id="locus_id" name="locus_id" value="<TMPL_VAR NAME="locus_id">">
				            <td><p id="gene_symbol_<TMPL_VAR NAME="locus_id">"><TMPL_VAR NAME="gene_symbol"></p></td>
				            <td><p id="gene_locus_<TMPL_VAR NAME="locus_id">"><TMPL_VAR NAME="gene_locus"></p></td>
				            <td><p id="orig_func_annotation_<TMPL_VAR NAME="locus_id">"><TMPL_VAR NAME="orig_func_annotation"></p></td>
				            <td><p>
				                <img src="/eucap/include/images/undelete.png" class="undelete_locus_<TMPL_VAR NAME="locus_id">" alt="unDelete Gene <TMPL_VAR NAME="gene_symbol">" title="unDelete Gene <TMPL_VAR NAME="gene_symbol">" onclick="undelete_feature('locus', <TMPL_VAR NAME="locus_id">, '<TMPL_VAR NAME="gene_symbol">');" />
				            </p></td>
				        </tr>
				        </TMPL_LOOP>
				    </TMPL_IF>
			        </tbody>
			    </table>
			    <span height="16px" style="float: right;" id="locus_undelete_status" name="locus_undelete_status"></span>
			</div>
            <div id="annotate_locus" name="annotate_locus"></div>
		</div>

        <div id="mutant_class" class="tab-pane<TMPL_IF NAME="mutant_panel"> active</TMPL_IF>">
           	<div class="alert alert-info">
           		<button type="button" class="close" data-dismiss="alert">&times;</button>
        		<p class="lead">Annotate <em>Medicago truncatula</em> Mutants</p>
        		<p>To add a new <em>Mutant Class</em>, click on the <button class="btn btn-mini btn-info" type="button">Add Mutant Class</button> button.</p>
        		<p>For each mutant class, you can perform the following functions:
	        		<ul>
		        		<li><button class="btn btn-mini" type="button">Edit</button> the description and/or symbol</li>
		        		<li><button class="btn btn-mini btn-primary" type="button">Annotate</button> the members of that class</li>
	        		</ul>
        		</p>
        	</div>
            <form id="annotate_mutant_class_form" name="annotate_mutant_class_form" action="/cgi-bin/eucap/eucap.pl" method="POST">
	            <input type="hidden" id="action" name="action" value="annotate_mutants">
	            <input type="hidden" id="mutant_class_id" name="mutant_class_id" value="">

	            <table id="mutant_class_table" name="mutant_class_table" width=100% class="table table-striped table-condensed" cellpadding="5px">
                <thead>
	                <tr id="mutant_class_table_header" name="mutant_class_table_header">
	                    <th><p align="center">Mutant Class</p></th>
	                    <th><p align="center">Symbol Expansion</p></th>
	                    <th><p align="center">Number of mutants</p></th>
	                    <th><p align="center">Edit Mutant Class</p></th>
	                    <td colspan="2"></th>
	                </tr>
                </thead>
	            <tbody>
	                <tr>
	                    <td colspan="6"><p align="center">
	                    <input type="button" class="btn btn-info" id="add_mut_class" value="Add Mutant Class" onclick="perform_action('add_mutant_class_dialog', 'user_id', <TMPL_VAR NAME="user_id">);" />
	                    </p></td>
	                </tr>
	            <TMPL_IF NAME="mutant_class_list">
	            	<TMPL_LOOP NAME="mutant_class_list">
	                <tr>
	                    <td><p align="center" align="center" id="mutant_class_symbol_<TMPL_VAR NAME="mutant_class_id">"><em><TMPL_VAR NAME="mutant_class_symbol"></em></p></td>
	                    <td><p align="center" id="mutant_class_name_<TMPL_VAR NAME="mutant_class_id">"><em><TMPL_VAR NAME="mutant_class_name"></em></p></td>
	                    <td><p align="center"><TMPL_VAR NAME="num_mutants"></p></td>
	                    <td><p align="center">
	                        <input type="button" class="btn" id="annotate_mutant_class_<TMPL_VAR NAME="mutant_class_id">" value="Edit" onclick="set_value('mutant_class_id', <TMPL_VAR NAME="mutant_class_id">, 'annotate_mutant_class_form'); return perform_action('annotate_mutant_class', 'user_id', <TMPL_VAR NAME="user_id">);" />
	                    </p></td>
	                    <td<TMPL_UNLESS NAME="unapproved"> colspan="2"</TMPL_UNLESS>><p align="center">
	                        <input type="submit" class="btn btn-primary" id="annotate_mutant_class_members_<TMPL_VAR NAME="mutant_class_id">" value="Annotate" onclick="set_value('mutant_class_id', <TMPL_VAR NAME="mutant_class_id">, 'annotate_mutant_class_form');" />
	                    </p></td>
	                    <TMPL_IF NAME="unapproved">
	                    <td><p align="center">
	                        <img src="/eucap/include/images/delete.png" class="delete_mutant_class_<TMPL_VAR NAME="mutant_class_id">" alt="Delete Mutant Class<TMPL_VAR NAME="mutant_class_symbol">" title="Delete Mutant Class <TMPL_VAR NAME="mutant_class_symbol">" onclick="delete_feature('mutant_class', <TMPL_VAR NAME="mutant_class_id">, '<TMPL_VAR NAME="mutant_class_symbol">');" />
	                    </p></td>
	                    </TMPL_IF>
	                </tr>
		            </TMPL_LOOP>
	            </TMPL_IF>
	            </tbody>
	            </table>
	            <span height="16px" style="float: right;" id="mutant_class_delete_status" name="mutant_class_delete_status"></span>
	            <br />

	            <div<TMPL_UNLESS NAME="deleted_mutant_class_list"> class="hide_panel"</TMPL_UNLESS> id="deleted_mutant_class_panel" name="deleted_class_mutant_panel">
		            <p class="lead">Deleted Mutant Classes</p>
		            <table width=100% class="table table-striped" cellpadding="5px">
		            	<thead>
			                <tr id="mutant_class_table_header" name="mutant_class_table_header">
			                    <th><p align="center">Mutant Class</p></th>
			                    <th><p align="center">Symbol Expansion</p></th>
			                    <th><p align="center">Number of mutants</p></th>
			                    <th><p align="center">Edit Mutant Class</p></th>
			                    <td colspan="2"></th>
			                </tr>
		                </thead>
			            <TMPL_IF NAME="deleted_mutant_class_list">
			            <tbody>
			            	<TMPL_LOOP NAME="deleted_mutant_class_list">
			                <tr>
			                    <td><p align="center" id="mutant_class_symbol_<TMPL_VAR NAME="mutant_class_id">"><em><TMPL_VAR NAME="mutant_class_symbol"></em></p></td>
			                    <td><p align="center" id="mutant_class_name_<TMPL_VAR NAME="mutant_class_id">"><em><TMPL_VAR NAME="mutant_class_name"></em></p></td>
			                    <td><p align="center"><TMPL_VAR NAME="num_mutants"></p></td>
			                    <td><p align="center">
			                        <input type="button" class="btn" id="annotate_mutant_class_<TMPL_VAR NAME="mutant_class_id">" value="Edit" onclick="set_value('mutant_class_id', <TMPL_VAR NAME="mutant_class_id">, 'annotate_mutant_class_form'); perform_action('annotate_mutant_class', user_id, <TMPL_VAR NAME="user_id">);" disabled="disabled" />

			                    <td<TMPL_UNLESS NAME="unapproved"> colspan="2"</TMPL_UNLESS>><p align="center">
			                        <input type="submit" class="btn btn-primary" id="annotate_mutant_class_members<TMPL_VAR NAME="mutant_class_id">" value="Annotate" onclick="set_value('mutant_class_id', <TMPL_VAR NAME="mutant_class_id">, 'annotate_mutant_class_form');" disabled="disabled" />
			                    </p></td>
			                    <TMPL_IF NAME="unapproved">
			                    <td><p align="center">
			                        <img src="/eucap/include/images/undelete.png" class="undelete_mutant_class_<TMPL_VAR NAME="mutant_class_id">" alt="unDelete mutant_class <TMPL_VAR NAME="mutant_class_symbol">" title="unDelete mutant_class <TMPL_VAR NAME="mutant_class_symbol">" onclick="undelete_feature('mutant_class', <TMPL_VAR NAME="mutant_class_id">, '<TMPL_VAR NAME="mutant_class_symbol">');" />
			                    </p></td>
			                    </TMPL_IF>
			                </tr>
			            	</TMPL_LOOP>
		            	</TMPL_IF>
		            	</tbody>
		            </table>
	            </div>
            </form>
            <span height="16px" style="float: right;" id="mutant_class_undelete_status" name="mutant_class_undelete_status"></span>
        </div>
   	</div>
<div id="add_mutant_class_dialog" name="add_mutant_class_dialog" class="hide_panel" style="text-align: left;"></div>
<div id="annotate_mutant_class" name="annotate_mutant_class" class="hide_panel" style="text-align: left;"></div>

<style>
p.select_panel_header{
  margin: 0;
  padding: 3px;
  background: #777;
  color: #fff;
  text-align: center;
  border: 1px #333 solid;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
</style>

<script type="text/javascript">
	// click the first radio button (by default) in the gene family list
    $(function() {
        $('#gene_family input:radio:first').attr('checked', true).click();
    });

	// autocomplete tags from GFF DB
	$('#loci_list').tagsInput({
		autocomplete_url: '/cgi-bin/eucap/eucap.pl?action=get_loci&app=tagsinput',
		minChars: 6,
        defaultText: '',
	});
    $('#reset_loci_add').click(function() { $('#loci_list').importTags(''); });

	// allow selecting (and editing) of pre-exisiting Medtr loci in the EuCAP database
    $(function() {
        var select_id = 'locus_id';
	    $('.multiselect').multiSelect({
            selectableHeader: '<p class="select_panel_header">Available Loci</p><br />' +
                              '<center><input type="text" id="select_panel" autocomplete="off" placeholder="Start typing to filter" size="30" /></center>',
            selectedHeader: '<p class="select_panel_header">Selected Loci</p>'
        });

        $('input#select_panel').quicksearch('#ms-' + select_id + ' .ms-selectable li');
    });
    $('#reset_loci_select').click(function() { $('.multiselect').multiSelect('deselect_all'); return false; });


    $(function() {
        $('.selectBox').selectBox();
    });
</script>
