<div class="panel_background">
<!--form enctype="multipart/form-data" id="edit_profile" name="edit_profile" action="/cgi-bin/medicago/eucap/eucap.pl" method="post"-->
<form id="edit_profile" name="edit_profile" enctype="multipart/form-data">
<input type="hidden" name="action" value="update_profile" id="action">

<p class="header1">Edit your profile</p>

<input type="hidden" id="user_id" name="user_id" value="<TMPL_VAR NAME="user_id">">
<input type="hidden" id="orig_username" name="orig_username" value="<TMPL_VAR NAME="username">">
<input type="hidden" id="orig_email" name="orig_email" value="<TMPL_VAR NAME="email">">

<hr />
<table width="100%" border="0">
<tr>
    <td align="right">
        <p><label for="username"><b>Username:</b></label>
        <input type="text" id="username" name="username" value="<TMPL_VAR NAME="username">" class="required" /></p>
    </td>
    <td width="5%">
    &nbsp;
    </td>
    <td height="200px" rowspan="5">
        <img id="user_photo" name="user_photo" class="rounded" src="/medicago/eucap/include/images/ca_users/<TMPL_VAR NAME="photo_file_name">" /><br />
        <p>Please select image to upload:<br />
        <input type="file" name="photo"></p>
        <em>JPG|JPEG|PNG format only.<br />
            Max dimensions: 200x200px<br />
            Max file size: 1 MB</em><br />
    </td>
</tr>

<tr>
    <td align="right"><p>
        <label for="name"><b>Name:</b></label>
        <input type="text" id="name" name="name" value="<TMPL_VAR NAME="name">" class="required">
    </p></td>
    <td width="5%">
    &nbsp;
    </td>
</tr>

<tr>
    <td align="right"><p>
        <label for="organization"><b>Organization:</b></label>
        <input type="text" id="organization" name="organization" value="<TMPL_VAR NAME="organization">" />
    </p></td>
    <td width="5%">
    &nbsp;
    </td>
</tr>

<tr>
    <td align="right"><p>
        <label for="email"><b>Email:</b></label>
        <input type="text" id="email" name="email" value="<TMPL_VAR NAME="email">" class="required" /></p>
    </td>
    <td width="5%">
    &nbsp;
    </td>
</tr>

<tr>
    <td align="right"><p>
        <label for="url"><b>Website:</b></label>
        <input type="text" id="url" name="url" value="<TMPL_VAR NAME="url">"></p>
    </td>
    <td width="5%">
    &nbsp;
    </td>
</tr>
</table>
<br />
<table border="0" cellspacing="5px">
    <tr>
        <td><p><input type="Submit" id="update_profile" name="update_profile" value="Update Profile"></p></td>
        <td><p><input type="Reset"></p></td>
        <td><span id="update_status" name="update_status" class="success"></span></td>
    </tr>
</table>
<hr />
</form>
</div>
