Thank you for registering at the Medicago truncatula EuCAP portal.
In order to complete your registration, please open the following
address in your favorite web browser:

<TMPL_VAR NAME="validation_url">

If you did not register at the Medicago truncatula EuCAP portal,
please disregard this email.

Thank you.

--
Plant Genomics Team
J. Craig Venter Institute

===============================================================
 Please DO NOT reply to this email!
 Send further correspondences to 'mtruncatula at jcvi dot org'
===============================================================
