Thank you for finalizing and submitting the annotation for the
<TMPL_VAR NAME="family_name"> gene family. You request has been
forwarded to the Project Annotation Curators.

We will get in touch with you shortly and keep you informed of
the progress of your submission.

Thank you.

--
Plant Genomics Team
J. Craig Venter Institute

===============================================================
 Please DO NOT reply to this email!
 Send further correspondences to 'mtruncatula at jcvi dot org'
===============================================================
