	  <TMPL_IF NAME="error">
      <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <TMPL_VAR NAME="error_string">
      </div>
      </TMPL_IF>
      <div class="hero">
		<h1>EuCAP</h1>
		<p class="lead"><em>Medicago truncatula</em> Community Annotation gateway</p>
		<ul>
			<li>Curate gene function and structure</li>
			<li>Annotate <i>Medicago truncatula</i> mutants and alleles</li>
		</ul>
		<p><a class="btn btn-primary btn-large" href="/cgi-bin/medicago-v35/annotation.cgi?page=community_annot">Learn more &raquo;</a></p>
	  </div>

<script type="text/javascript">
  document.getElementById('username').focus();
</script>
