<table class="bodycontent">
	<tbody>
    <tr class="tableRowEven">
        <td colspan="2" align="left">
            <p class="section">Sign In</p>
        </td>
    </tr>
    <tr class="tableRowOdd">
        <td align="left">
            <br />
            <p class="bodytext">You need a EuCAP account to start curating Gene Families.</p>
            <p class="bodytext">Don&apos;t have an account?
            <a href="/cgi-bin/medicago/eucap/eucap.pl?action=signup_page">Create one.</a></p>
            <br />
            <br />
            <p class="bodytext"><b>EuCAP</b> - the Community Annotation gateway:</p>
            <ul>
                <li>Curate gene function and structure (per family)</li>
                <li>Annotate <i>Medicago truncatula</i> mutants <br />
                and alleles</li>
            </ul>
        </td>
        <td align="right">
            <br />
            <TMPL_IF NAME="error">
                <p style="color:red"><TMPL_VAR NAME="error_string"></p>
                <br />
            </TMPL_IF>
            <form action="/cgi-bin/medicago/eucap/eucap.pl" method="post">
            <p>
                <input type="hidden" id="action" name="action" value="dashboard">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username">
                <br /><br />
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
                <br /><br /><br />
                <input type="submit" class="submitButton" value="Log in">
                &nbsp;
                <input type="reset" class="resetButton">
            </p>
            </form>
        </td>
    </tr>
    </tbody>
    </table>

<script type="text/javascript">
  document.getElementById('username').focus();
</script>
