<div class="well">
<form id="reset_user_password" name="reset_user_password">
    <input type="hidden" name="action" value="reset_password" id="action">

    <p class="lead">Reset Your Password</p>
    <hr />
    <p>
        <label for="name">* New Password:</label>
        <input type="password" id="password" name="password" class="required" value="">
		<br /><br />
        <label for="name">* Reconfirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" class="required" value="">
		<br /><br />
    </p>
    <br />
    <table border="0" cellspacing="10px">
        <tr>
            <td><p><input type="submit" class="btn btn-primary" id="reset_passwd" name="reset_passwd" value="Reset"></p></td>
            <td><p><input type="reset" class="btn" value="Clear"></p></td>
            <td><span id="reset_status" name="reset_status" class="success"></span></td>
        </tr>
    </table>
    <hr />
</form>
</div>
