<!--
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Review Annotation</title>
<link href="/medicago/css/eucap.css" rel="stylesheet" type="text/css">
</head>

<body>
-->
  <form name="back_to_annotation" method="post" action="/cgi-bin/medicago/eucap/eucap.pl">
    <input type="hidden" name="action" value="annotate">
    <p><input type="submit" name="back" value="Back to Main Annotation Page"></p>
  </form>
<p class="header1">Review of Community Annotation For: <TMPL_VAR NAME="family_name"> Gene Family</p>


<table class="contenttable" width="100%">
<tbody>
<tr class="tableHeader">
<td><p>Locus</p></td>
<td><p>Orig Annotation</p></td>
<td><p>Gene Name</p></td>
<td><p>Alt Gene Name</p></td>
<td><p>Gene Desc</p></td>
<td><p>Genomic GB Acc</p></td>
<td><p>cDNA GB Acc</p></td>
<td><p>Protein GB Acc</p></td>
<td><p>Mutant Info</p></td>
<td><p>Comment</p></td>
<td><p>Has Struct Anno?</p></td>
</tr>
<TMPL_LOOP NAME="review_loop">

<tr class="tableRowEven">
<td><p><TMPL_VAR NAME="locus_name"></p></td>
<td><p><TMPL_VAR NAME="original_annotation"></p></td>
<td><p><TMPL_VAR NAME="gene_name"></p></td>
<td><p><TMPL_VAR NAME="alt_gene_name"></p></td>
<td><p><TMPL_VAR NAME="gene_description"></p></td>
<td><p><TMPL_VAR NAME="genbank_genomic_acc"></p></td>
<td><p><TMPL_VAR NAME="genbank_cdna_acc"></p></td>
<td><p><TMPL_VAR NAME="genbank_protein_acc"></p></td>
<td><p><TMPL_VAR NAME="mutant_info"></p></td>
<td><p><TMPL_VAR NAME="comment"></p></td>
<td align="center"><p><TMPL_IF NAME="has_structural_annotation">Yes<TMPL_ELSE>No</TMPL_IF></p></td>
</tr>

</TMPL_LOOP>
</tbody>
</table>

<!--
</body>
</html>
-->
