    <p class="lead pull-left">Review of Community Annotation For "<TMPL_VAR NAME="family_name"> Gene Family"</p><br /><br />
    <div class="alert alert-block">
    	Please review the following table for accuracy of information pertaining to the <TMPL_VAR NAME="family_name"> gene family.
    	<br />If everything looks good, please go ahead and click <strong>Submit</strong>.
    	<br /><br />    	
    	After reviewing the information, the Project Annotator will be in touch with you shortly and initiate the process of setting up 
    	the gene family page on the <em>Medicago truncatula</em> Project page.<br /><br />
    	Thank you!
    </div>
    <input type="hidden" id="family_name" name="family_name" value="<TMPL_VAR NAME="family_name">">
    <table class="table table-striped table-condensed" width="100%">
    <thead>
	    <tr>
		    <td colspan="4"></td>
		    <td colspan="3"><p align="center">GenBank Accessions</p></td>
		    <td colspan="5"></td>
		    </tr>
		    <tr>
		    <td><p align="center">MTR Locus</p></td>
		    <td><p align="center">Original Functional Annotation</p></td>
		    <td><p align="center">Gene Symbol</p></td>
		    <td><p align="center">Proposed Functional Annotation</p></td>
		    <td><p align="center">Genomic</p></td>
		    <td><p align="center">cDNA</p></td>
		    <td><p align="center">Protein</p></td>
		    <td><p align="center">Mutant Symbol</p></td>
		    <td><p align="center">Reference Publication</p></td>
		    <td><p align="center">Comment</p></td>
		    <td><p align="center">Date Modified</p></td>
		    <td><p align="center">Has Struct Anno?</p></td>
	    </tr>
    </thead>
    <tbody>
    <TMPL_LOOP NAME="review_loop">
	    <tr>
		    <td><p align="center"><TMPL_VAR NAME="gene_locus"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="orig_func_annotation"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="gene_symbol"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="func_annotation"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="gb_genomic_acc"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="gb_cdna_acc"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="gb_protein_acc"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="mutant_symbol"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="reference_pub"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="comment"></p></td>
		    <td><p align="center"><TMPL_VAR NAME="mod_date"></p></td>
		    <td align="center"><p align="center"><TMPL_IF NAME="has_structural_annot">Yes<TMPL_ELSE>No</TMPL_IF></p></td>
	    </tr>
    </TMPL_LOOP>
	<tr>
        <td colspan="11"><p align="right">
	        <input type="button" class="btn btn-primary" id="submit_annot" name="submit_annot" value="Submit Annotation">
        </p></td>
        <td>
        	<input type="button" class="btn" value="Close" onclick="close_dialog_and_scroll('review_annotation', undefined);" />
        </td>
    </tr>
    </tbody>

    <div id="submit-confirm" title="Finalize and Submit Annotation?" class="hide_panel" style="text-align: left;">
        <i class="icon-warning-sign"></i>The annotation will be submitted to administrator for review and approval.<br /><br />Are you sure?<br /><br />
        <span id="submit_status" name="submit_status"></span>
    </div>

    <script type="text/javascript">
        // initialize dialog box to confirm annotation submission
        $(function() {
            $('#submit-confirm').dialog({
                resizable: false,
                autoOpen: false,
                height: 200,
                modal: true,
                stack: true,
                buttons: {
                    'Submit': function() {
                        var family_name = $('#family_name').val();
                        var url = '/cgi-bin/eucap/eucap.pl?action=submit_annotation';
                        var params = 'family_name=' + family_name;
                        var query = url + '&' + params;
                        var status_span = 'submit_status';

                        $('#' + status_span).removeClass('error success');
                        $('#' + status_span).html('<img src="/eucap/include/images/loading.gif" />');

                        $.ajax({
                            type: 'GET',
                            url: url,
                            data: params,
                            success: function(data, textStatus, XMLHttpRequest) {
                                if(data.success) {
                                    $('#' + status_span).addClass('success');
                                } else {
                                    $('#' + status_span).addClass('error');
                                }
                                $('#' + status_span).html(data.message);
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                $('#' + status_span).html('Error in XMLHttpRequest: <a href="' + query + '">' + query + '</a><br />textStatus: ' + textStatus + '<br />errorThrown: ' + errorThrown);
                            }
                        });
                        return false;
                    },
                    Cancel: function() {
                        $(this).dialog( 'close' );
                    }
                }
            });
        });

        // trigger submission dialog box open
        $('#submit_annot').click(function() {
            $('#submit-confirm').dialog('open');
        });
    </script>
