<!--
<p class="header1">Select a Gene Family to Annotate</p>
-->

<div class="panel_background">

<p>Welcome, <TMPL_VAR NAME="name"></p>

<hr />

<p>User Details:</p>
<ul>
  <TMPL_IF NAME="organization">
     <li>Organization: <TMPL_VAR NAME="organization"></li>
  </TMPL_IF>
  <TMPL_IF NAME="email">
    <li>Email: <TMPL_VAR NAME="email"></li>
  </TMPL_IF>
  <TMPL_IF NAME="url">
    <li>Website: <a href="<TMPL_VAR NAME="url">" target="_blank"><TMPL_VAR NAME="url"></a></li>
  </TMPL_IF>
</ul>

<hr />
<form name="select_annotation" action="/cgi-bin/medicago/eucap/eucap.pl" method="post">
<input type="hidden" name="action" value="annotate">
<p>Gene Families</p>
<p>Please select the gene family you wish to annotate:</p>
<table class="contenttable">
<tbody>
  <tr class="tableHeader">
    <td><p>&nbsp;</p></td>
    <td><p>Gene Family</p></td>
    <td><p>Description</p></td>
  </tr>
<TMPL_LOOP NAME="gene_family_radio">
  <tr class="tableRowOdd">
    <td><p><input type="radio" name="family_id" value="<TMPL_VAR NAME="family_id">"></p></td>
    <td><p><TMPL_VAR NAME="name"></p></td>
    <td><p><TMPL_VAR NAME="description"></p></td>
  </tr>
</TMPL_LOOP>
</tbody>
</table>
<hr />
<table>
<tr>
<td><p><input type="submit" name="annotate" value="Annotate Gene Family"></p></td>
<td><p><input type="reset"></p></td>
</tr>
</table>
</form>

</div>
