           	<div class="alert alert-info">
           		<button type="button" class="close" data-dismiss="alert">&times;</button>
        		<p class="lead">Annotate Gene Loci</p>
        		<p>Choose one (or multiple) loci from the <strong>Available Loci</strong> section of the selector below to edit the associated functional
        		metadata. Once you've made your selection, click <button class="btn btn-mini btn-primary" type="button">Annotate</button>
                <br />
                You can clear your <strong>Selected Loci</strong> by clicking the <button class="btn btn-mini" type="button">Reset</button> button.</p>
        		<p><strong>Note:</strong> This list displays <strong>Gene Loci</strong> that are being actively curated in the EuCAP database</p>
        		<p>To add (and subsequently edit) any <strong>Medtr</strong> loci not in the EuCAP database, you can use one of the following methods:
        		<ul>
	        		<li><button class="btn btn-mini" type="button">Add Locus by ID</button> takes a comma separated list of <em>Mt</em> identifiers</li>
	        		<li><button class="btn btn-mini" type="button">Add Locus by BLAST</button> allows you to BLAST search your CDS/AA against the <em>Mt</em> proteome and identify homologs. From the search results, you can choose the list of loci to curate.</li>
        		</ul>
        		</p>
        	</div>
