   	<div class="alert alert-info">
   		<button type="button" class="close" data-dismiss="alert">&times;</button>
   		<p class="lead">Annotate Gene Family Members</p>
   		<p>Each row of the table below corresponds to a specific member of the Gene Family.<br />
   		Click the <button class="btn btn-mini btn-primary" type="button">Annotate</button> button next
   		to a certain locus to edit it. Clicking on <button class="btn btn-mini" type="button">View</button>
   		will create a modal window with a read-only view of the locus attributes.</p>
   		<p>You can associate <i>Medtr</i> loci to the Gene family by using either of the following methods:</p>
   		<ul class="">
			<li><button class="btn btn-mini" type="button">Add Locus by ID</button> takes a comma separated list of <em>Medtr</em> identifiers</li>
      		<li><button class="btn btn-mini" type="button">Add Locus by BLAST</button> allows you to BLAST your CDS/AA against the <em>Mt</em> proteome and identify homologs</li>
   		</ul>
   		<p>Once all the edits have been finalized, click <button class="btn btn-mini btn-info" type="button">Review Annotation</button> to see
   		a summary of the family members. On verification, you can submit the edits for approval.</p>
   	</div>
