           	<div class="alert alert-info">
           		<button type="button" class="close" data-dismiss="alert">&times;</button>
        		<p class="lead">Annotate <em>Medicago truncatula</em> Mutants</p>
        		<p>To add a new <em>Mutant Class</em>, click on the <button class="btn btn-mini btn-info" type="button">Add Mutant Class</button> button.</p>
        		<p>For each mutant class, you can perform the following functions:
	        		<ul>
		        		<li><button class="btn btn-mini" type="button">Edit</button> the description and/or symbol</li>
		        		<li><button class="btn btn-mini btn-primary" type="button">Annotate</button> the members of that class</li>
	        		</ul>
        		</p>
        	</div>
